
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Playfair+Display:400,700|Roboto:400,500,700');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
   }
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0 0 20px;
font-weight: 600;
font-family: 'Poppins', sans-serif;
color: #000000;
}

h1 {
font-size: 32px;
}
h2 {
font-size: 18px;
}
h3 {
font-size: 16px;
}

a {
  transition: all 0.5s ease-out;
  text-decoration: none;color:#000000;
  font-family: 'Poppins', sans-serif;
}
a:active,
a:hover {
  outline: 0 none;
  color: #212836;text-decoration:none
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #fb4d7e;
  text-shadow: none;color:#fff
}
::selection {
  background: #fb4d7e;
  text-shadow: none;color:#fff
}
textarea:focus, input:focus{
    outline: none;
}

::-moz-selection {
  background: #fb4d7e;
  text-shadow: none;color:#fff
}
::selection {
  background: #fb4d7e;
  text-shadow: none;color:#fff
}
textarea:focus, input:focus{
    outline: none;
}

.pt-150{padding-top:150px}
.pb-100{padding-bottom:100px}
.pb-120{padding-bottom:120px}
.bg-color{background:#fbfbfb}
.no-padding-left{padding-left:0px}
.no-padding-right{padding-right:0px}


.main-navigation {
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: #48dbfb;
}
.logo img {
    width: 100px;
    height: 76px;
}
.menu {
    text-align: right;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline-block;
    position: relative;
}
.main-menu li a {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 28px 12px;
    font-weight: 600;
    transition: all .5s ease;
}

#home {
    position: relative;
    width: 100%;
    z-index: 99;
    overflow: hidden;
    clear: both;
    height: 69vh;
   
}
.header-top {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 80px;
}

.back-slide {
    height: 100vh;
}
.bg-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.home-desc-center {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 100px;
}
.home-title {
    text-transform: capitalize;
    font-size: 31px;
    color: #ffe310;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0 auto;
    padding-left: 275px;
}


.home-title::before{

   content: "“";
   font-family: Georgia;
   font-size: 6rem;
   margin: 0 -48px;
   position: absolute;
   opacity: 0.5;
}
.home-title::after{

   content: "”";
    font-family: Georgia;
   font-size: 6rem;
   margin: -54px 0 0 215px;
   position: absolute;
   opacity: 0.5;
  
}
.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.flex-direction-nav {
    position: absolute;
    width: 100%;
    top: 45%;
}
.slider li {
    position: relative;
}
.flex-direction-nav a:hover {
    background-color: #48dbfb;
}
.flex-direction-nav .flex-next {
    right: 50px;
    text-align: right;
}

.flex-direction-nav a {
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.flex-direction-nav a.flex-prev:before {
    color: #fff;
    margin-left: 25px;
    margin-top: 18px;
}
.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.flex-direction-nav a.flex-next::before {
    content: '\f3d1';
    right: 25px;
    position: relative;
    top: 16px;
}
.main-menu li a:hover {

  color: #222;
}
.map-extend {
    position: relative;
    margin: 0 auto;
}
#map {
    position: absolute;
    top: 95%;
    z-index: 9999;
    left: 8%;
}
.map h1 {
    color: #48dbfb;
    text-align: center;
}
.videos {
    position: relative;
    margin-top: 700px;
}
.ethics-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.ethics {
    position: relative;
    margin: 0 auto;
        margin-bottom: 0px;
    text-align: center;
    margin-bottom: 15px;
}
.ethics-content h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 500;
}

/*videos*/
.three h2 {
    position: relative;
    margin-bottom: 40px;
}.btn {
    flex: 1 1 auto;
    margin: 60px 0;
    padding: 15px 65px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #000 !important;
        background-color:#D66A22 !important
    border-radius: 0;
}
.donate-btn {
  background: #d35400;
/*background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.4) 100%), -webkit-linear-gradient(left, #00b486 0%, #00684d 50%, #00b486 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(to right, #00b486 0%, #00684d 50%, #00b486 100%); */
  background-position: 0 0;
  background-size: 200% 100%;
  border-radius: 4px;
  color: #fff;
  padding: 15px 65px 15px 15px;
  text-shadow: 1px 1px 5px #666;
  -webkit-transition: all 800ms;
  transition: all 800ms;
  color: #fff !important;
        background-color:#D66A22 !important
}
.donate-btn:after {
    border-left: 1px solid #D66A22
    color:#D66A22;
    content: "\f004";
    font: 20px "FontAwesome";
    padding: 10px 0;
    padding-left: 15px;
    position: absolute;
    right: 46%;
    top: 926px;
    transition: all 600ms 200ms;
}
.donate-btn:hover {
  background-position: -100% 0;
}
.donate-btn:hover:after {
  border-left: 1px solid #D66A22
  color: #fff;
  text-shadow: 0 0 10px #000;
}
.section {
    position: relative;
    padding: 60px 0;
    overflow: hidden;
}
.section-title {
    margin: 0;
    padding-bottom: 50px;
    text-align: center;
}
.section-title h2 {
    position: relative;
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 42px;
    margin-top: 0;
    color: #00B0F0;
    text-shadow: d;
    text-transform: capitalize;
}
.graybg{
      background: #f8f8f8;
}
.perma-single-widget {
    position: relative;
    text-align: center;
    padding: 0px 5px;
}
.perma-single-widget h3 {
    font-size: 24px;
    color: #222;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 32px;
}
#main-menu {
    position: relative;
    top: -75px;
    left: 0;
    z-index: 9999999999;
}
/*google translate */
.first-pillar {
    position: relative;
    background: #00A2E8;
     width: 45px;
    height: 400px;
    margin-left: 250px;
}
.second-pillar{
   position: relative;
    background: #00A2E8;
    width: 45px;
    height: 400px;
    margin-left: -100px;

}
.pillar {
    margin-left: 150px;
}


.hideme
{
    opacity:0;
}
.hideme h4 {
    position: relative;
    width: 49%;
    font-size: 32px;
    float: left;
}

}
.hideme h2  {
    padding: 25px 0;
    margin-top: 20px;
    color: #0F6FC6;
 

}





.perma-content {
    position: relative;
    margin-bottom: 45px;
}
.perma-img{
  position: relative;
  margin-bottom: 45px;
}
#hero-bg {
    background-color: #48DBFB;
    padding: 120px 0;
}
.hero-content h1 {
    text-transform: capitalize;
    font-size: 46px;
    color: #ffffff;
    line-height: 70px;
    font-weight: 400;
}

.hero-content h1::before
{
   content: "“";
   font-family: Georgia;
   font-size: 8rem;
   margin: -2rem 0 0 -4rem;
   position: absolute;
   opacity: 0.5;
}
.hero-content h1::after {
    content: "”";
    margin: -7rem 0rem 0 332px;
    font-family: Georgia;
    font-size: 8rem;
    position: absolute;
    opacity: 0.5;
}
.perma-images .perma-big img {
    width: 390px;
    height: 265px;
    margin-left: 378px;
    margin-bottom: 40px;
}
.pt-40px {
    padding-top: 40px;
    padding-bottom: 40px;
  }

 
